img {
  width: 80px;
  display: block;
}

input {
  float: right;
  width: 25%;
  height: 50px;
  text-align: end;
  padding: 7px;
}
.table td,
th {
  text-align: center;
  vertical-align: middle;
}
img {
  display: inline-block;
}
