

<div class="container text-center mx-auto row mt-5 ">
  <div class="col-lg-6 col-md-6 col-12">
    <img
      src="https://homepages.cae.wisc.edu/~ece533/images/watch.png"
      class="img-fluid" alt="Responsive image">
  </div>

  <div class="col-lg-6 col-md-6 col-12">
    <h1 class="text-capitalize">About us</h1>
    <hr class="w-25">
    <p class="text-left">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
      scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
      electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
      Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
      PageMaker including versions of Lorem Ipsum.
    </p>
  </div>
</div>

<div class="container text-center">
  <h1 class="text-capitalize mt-3 text-warning">sample post</h1>
  <hr class="mx-auto w-25">
</div>


<div class="container text-center mx-auto row mb-5">
  <div class="col-lg-4 col-md-4 col-12">
    <div class="card mt-3" style="width:300px">
      <img class="card-img-top" src="https://homepages.cae.wisc.edu/~ece533/images/watch.png" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">post1</h4>
        <p class="card-text">Some example text.</p>
        <a href="#" class="btn btn-warning">see more</a>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-12">
    <div class="card mt-3" style="width:300px">
      <img class="card-img-top" src="https://homepages.cae.wisc.edu/~ece533/images/watch.png" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">post2</h4>
        <p class="card-text">Some example text.</p>
        <a href="#" class="btn btn-warning">see more</a>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-12">
    <div class="card mt-3" style="width:300px">
      <img class="card-img-top"
        src="https://homepages.cae.wisc.edu/~ece533/images/watch.png" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">post1</h4>
        <p class="card-text">Some example text.</p>
        <a href="#" class="btn btn-warning">see more</a>
      </div>
    </div>
  </div>

</div>
